// Colores
$dialog-bg-color: #ffffff;
$dialog-header-color: #4caf50;
$dialog-button-color: #1976d2;
$dialog-button-warn-color: #e53935;

// Estilo del diálogo
h1 {
  background-color: $dialog-header-color;
  color: #ffffff;
  padding: 16px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

// Contenido del diálogo
mat-dialog-content {
  padding: 20px;
  background-color: $dialog-bg-color;
}

// Botones de acción
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;

    &:first-child {
      background-color: $dialog-button-warn-color;
      color: #ffffff;
    }

    &:last-child {
      background-color: $dialog-button-color;
      color: #ffffff;
    }
  }
}
